.calc {

	background-color: #000;
	color: #fff;
	padding: 30px 20px;
	width: 250px;
	margin: 0 auto;
}

.calc-display {

	border: 1px solid #fff;
	border-radius: 10px;
	margin: 10px 0;
	height: 50px;

	display: flex;
	align-items: center;

}

.calc-display span {

	font-size: 20px;
	margin: 0 10px;
}

.calc-btns {

	height: 200px;
	display: flex;
	flex-direction: column;
}

.btns-row:nth-child(5) {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 2fr;
}

.btns-row {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.btn {
	background-color: #0006;
	color: white;
	border: 1px outset white;
	font-size: 18px;
}

.btn:hover {
	background-color: #fff;
	color: #000;
	transform: scale(98%);
}